<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">EquineConnect</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only"></span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/about">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/viewlist">All Listings</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/search">Search Listings</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/addlist">Create a Listing</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/contact">Contact Us</a>
      </li>
    </ul>
  </div>
</nav>


<!-- <nav class="navbar navbar-expand-lg bg-dark navbar-dark">
  <div class="container-fluid">
  <a class="navbar-brand" href="#">   EquineConnect</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" routerLink="/home">Home</a>
        </li> -->
        <!-- <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-expanded="false">
            Login
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" routerLink="/login">User Login</a>
            <a class="dropdown-item" routerLink="/adminlogin">Admin Login</a>
          </div>
        </li> -->
        <!-- <li class="nav-item">
          <a class="nav-link" routerLink="/about">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/viewlist">All Listings</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/search">Search Listings</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/addlist">Create a Listing</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/contact">Contact Us</a>
        </li> -->
        <!-- <li class="nav-item">
          <a class="nav-link" routerLink="/register">Register</a>
        </li> -->
        <!-- <li class="nav-item">
          <a class="nav-link" routerLink="/logout">Logout</a>
        </li> -->
      <!-- </ul> -->
      <!-- <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form> -->
    <!-- </div> -->



    <!-- NEED TO UPDATE THIS TO ADD SEARCH FUNCTIONALITY -->
    <!-- <form class="d-flex" role="search">
      <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="searchTerm" id="searchTerm">
      <button class="btn btn-outline-success" type="submit" (click)="onSearch(searchTerm)">Search</button>
    </form> -->
  <!-- </div>  
  </nav> -->
