<!doctype html>
<html>
 <head>
  <title>How to get data from MySQL with AngularJS - PHP</title>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.min.js"></script>
 
 </head>
 <body ng-app='myapp'>

  <div ng-controller="userCtrl">
 
    <table >
 
      <tr>
        <th>Title</th>
        <th>Description</th>
        <th>Website</th>
      </tr>
  
      <!-- Display records -->
      <!-- <tr ng-repeat="l in results">
        <td>{{l.title}}</td>
        <td>{{l.description}}</td>
        <td>{{l.website}}</td>
      </tr> -->
 
    </table>
  </div>
 
 </body>
</html>